@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&family=Sorts+Mill+Goudy&display=swap");

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #553b2a;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-feature-settings: "palt";
}

html {
  scroll-behavior: smooth;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
  scroll-behavior: smooth;
}

a:hover {
  opacity: 0.5;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

h2 {
  font-size: 36px;
  font-family: "Sorts Mill Goudy", serif;
}
main {
  overflow-x: hidden;
}
/* ressここまで */

/* 汎用 */

.fade-in {
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
}

.fade-in-up {
  transform: translate(0, 50px);
}

.fade-in-down {
  transform: translate(0, -50px);
}

.fade-in-left {
  transform: translate(-50px, 0);
}

.fade-in-right {
  transform: translate(50px, 0);
}
.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

/* ヘッダー */
#header {
  position: relative;
  padding-top: 100px;
}
.header_wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7% 0 3%;
  width: 100%;
  box-sizing: border-box;
  height: 130px;
  transition: 0.3s;
  backdrop-filter: blur(6px);
}

.header_wrap.is-top {
  transform: translateY(-100%);
}
.header_logo {
  width: 130px;
}
.header_img_sp {
  display: none;
}

.header_img_pc {
  width: 100%;
}

.pc_nav ul {
  display: flex;
}

.pc_nav ul li {
  width: 105px;
  margin-left: 55px;
  color: #553b2a;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: "Sorts Mill Goudy", serif;
}

/* footer */
.footer_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7% 0 7%;
  width: 100%;
  box-sizing: border-box;
  height: 140px;
  background-image: url(../images/footer.jpg);
}

.footer_img {
  width: 150px;
}

.pc_nav ul {
  display: flex;
}

.pc_nav ul li {
  width: 105px;
  margin-left: 55px;
  color: #553b2a;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.footer_nav ul li {
  width: 105px;
  margin-left: 55px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

h2 {
  text-align: center;
}

main {
  margin-top: 30px;
}

/* contact */
.contact {
  margin-top: -150px;
}
.contact_img {
  margin: 0 auto;
  width: 40%;
}

/* レスポンシブ */
.sp_btn,
.sp_nav,
.footer_sp_nav {
  display: none;
}
@media screen and (max-width: 1100px) {
  #header {
    position: relative;
    padding-top: 75px;
  }
  .header_wrap {
    height: 100px;
  }

  .pc_nav {
    display: none;
  }
  .footer_nav {
    display: block;
  }

  /* ハンバーガー */

  .sp_btn {
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    height: 23px;
    cursor: pointer;
    z-index: 2;
  }

  .sp_btn span {
    position: relative;
    top: 10px;
    display: block;
    height: 2px;
    border-radius: 2px;
    width: 33px;
    background-color: #553b2a;
    transition: 0.3s;
  }

  .sp_btn span::before,
  .sp_btn span::after {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    border-radius: 2px;
    width: 33px;
    background-color: #553b2a;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }
  /* ハンバーガー閉じる */

  .sp_btn.open span {
    background: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
  }

  /* ハンバーガーメニュー */
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1;
  }
  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .sp_nav ul li {
    padding: 20px;
    color: #553b2a;
    font-size: 18px;
    font-family: "Sorts Mill Goudy", serif;
  }
}

@media screen and (max-width: 767px) {
  .header_img_pc {
    display: none;
  }
  .header_img_sp {
    display: block;
  }

  .header_wrap {
    height: 75px;
    padding: 0 7% 0 3%;
  }
  .header_logo {
    width: 80px;
  }

  /* contact */
  .contact_img {
    width: 50%;
  }
  .contact {
    margin-top: -30px;
  }

  /* footer */

  .footer_nav {
    display: none;
  }

  .footer_block {
    display: block;
    height: auto;
    padding-bottom: 30px;
  }

  .footer_sp_nav {
    display: block;
  }
  .footer_sp_nav ul li {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.72;
    width: 105px;
    text-align: center;
    font-weight: bold;
    font-family: "Sorts Mill Goudy", serif;
    margin: 0 auto 10px;
  }

  .footer_img {
    width: 35%;
    margin-bottom: 20px;
  }

  .footer_block p {
    color: #553b2a;
    font-size: 18px;
    line-height: 1.72;
  }
  .footer_copy {
    text-align: center;
  }

  .footer_copy {
    color: #553b2a;
    font-size: 16px;
  }
  .header_wrap {
    -webkit-backdrop-filter: blur(6px);
  }
  @supports not (
    (-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))
  ) {
    .backdrop {
      background: rgba(255, 255, 255, 0.5);
    }
  }
}
