@charset "utf-8";
.contact_top {
  text-align: center;
}
.contact_top_img {
  width: 15%;
  margin: 0 auto 20px;
}
.contact_wrap {
  width: 50%;
  margin: 0 auto 100px;
}
.contact_desc {
  text-align: center;
  margin: 50px auto;
}
.input {
  display: block;
  margin: 0 auto 30px;
}
button {
  border: 1px solid #553b2a;
  width: 250px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  cursor: pointer;
}
input,
textarea {
  width: 100%;
}
input,
textarea {
  padding: 10px 20px;
  margin-top: 14px;
  box-sizing: border-box;
}
.btn {
  display: flex;
  justify-content: space-evenly;
}
.contact_desc02 {
  margin-top: 60px;
  line-height: 1.17;
  letter-spacing: 0.1em;
}

.thanks_desc {
  width: 50%;
  margin: 30px auto 0;
  line-height: 1.17;
  letter-spacing: 0.1em;
}
.thanks_desc p:first-child {
  font-size: 19px;
  margin: 40px auto;
  text-align: center;
}
.work_desc p:last-child {
  font-size: 14px;
  padding: 12px 30px 12px 15px;
}
.thanks_btn {
  border: 1px solid #553b2a;
  width: 250px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  margin: 40px auto 100px;
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 6.4vw;
  }
  .contact_wrap,
  .thanks_desc {
    width: 80%;
  }
  .contact_desc,
  .contact_desc02 {
    font-size: 2.9vw;
    letter-spacing: 0.1em;
    line-height: 2.5em;
  }
  label,
  .btn,
  .thanks_btn {
    font-size: 3.7vw;
    letter-spacing: 0.1em;
  }
  button {
    margin: 0 auto;
  }
  .thanks_desc p:first-child {
    font-size: 4vw;
    letter-spacing: 0.1em;
    line-height: 2.5em;
  }
  .thanks_desc p {
    font-size: 3.2vw;
    letter-spacing: 0.1em;
    line-height: 2.5em;
  }
  input[type="submit"] {
    -webkit-appearance: none;
    border: 1px solid #553b2a;
    text-align: center;

    background-color: #ffffff;
    cursor: pointer;
  }
  .btn p {
    z-index: 999;
  }
}
